<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ taskId ? task?.name : 'Crear Tarea' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-form-task (formEmitter)="receivedForm($event)" [task]="task"></app-form-task>

  <ion-alert
    [isOpen]="isAlertOpen"
    [header]="headerAlert"
    [subHeader]="subHeaderAlert"
    [message]="messageAlert"
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>

</ion-content>
