<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/create-edit-task']">
        <ion-icon slot="icon-only" name="add-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <app-tasks [tasks]="getTasks()"></app-tasks> -->
  <app-tasks #tasksList [tasks]="tasks()" (deleteTaskEmitter)="presentDeleteAlert($event)"></app-tasks>

  <ion-alert
    [isOpen]="isAlertOpen"
    [header]="headerAlert"
    [message]="messageAlert"
    [buttons]="alertButtons"
    (didDismiss)="setOpenAlert(false)"
  ></ion-alert>

    <ion-toast
      [isOpen]="isToastOpen"
      [message]="messageToast"
      [duration]="5000"
      (didDismiss)="setOpenToast(false)"
    ></ion-toast>
</ion-content>
